Repository mariogarridopt/bookit, pull requests merged in 2023-11, with the labels that each got.

#10 fix: refactor auth endpoints
  api/controllers/auth_controller.py
  api/controllers/notifications_controller.py
  api/middleware/auth.py
  api/models/base_model.py
  api/routes/auth.py
  api/routes/notifications.py
  api/services/auth_service.py
Labels: service/api, kind/improvement

#19 feat: add github issue templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/01_BUG_REPORT.md
  .github/ISSUE_TEMPLATE/02_FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/03_CODEBASE_IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/workflows/labels.yml
Labels: kind/docs, kind/improvement

#28 fix: add api token docs
  README.md
Labels: service/api, kind/docs, kind/improvement

#27 fix: add Community Standards docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: kind/docs, kind/improvement

#30 FIX: DAL select with double cursor execution
  api/models/dal.py
Labels: service/api, kind/bug

#33 fix: better Bearer Authorization errors
  api/middleware/auth.py
Labels: service/api, kind/bug

#35 fix(#5): Login with post
  api/controllers/auth_controller.py
  api/routes/auth.py
Labels: service/api, kind/bug

#36 fix #6 & fix #7: Add and update auth data
  api/controllers/auth_controller.py
  api/middleware/auth.py
  api/services/token_service.py
Labels: service/api, kind/feature

#31 FEAT: Implement User Notifications
  api/controllers/notifications_controller.py
  api/routes/notifications.py
Labels: service/api, kind/feature
